* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
body {
    font-family: "Poppins", sans-serif;
}

/* contact */
#feed-contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #feed-contact .feed-getin{
    width: 350px;
  }
  
  #feed-contact .feed-getin p{
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
  }
  
  #feed-contact .feed-getin h2{
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
  }
  
  #feed-contact .feed-getin h3{
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
  }
  
  #feed-contact .feed-getin .feed-getin-details div{
    display: flex;
  }
  
  #feed-contact .feed-getin .feed-getin-details div .get{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
  }
  
  #feed-contact .feed-getin .feed-getin-details div p{
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
  }
  
  #feed-contact .feed-getin .feed-getin-details .feed-pro-links i{
   margin-right: 8px; 
  }
  
  #feed-contact .feed-getin .feed-getin-details .feed-pro-links i {
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}

#feed-contact .feed-getin .feed-getin-details .feed-pro-links i:hover{
    background: rgb(21, 21, 100);
}

.feed-pro-links i:hover{
    color: #fff;
}

  #feed-contact .feed-form {
    width: 100%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
  }
  
  #feed-contact .feed-form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
  }
  
  #feed-contact .feed-form p{
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
  }
  
  #feed-contact .feed-form .feed-form-row .feed-form-row-get{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  #feed-contact .feed-form .feed-form-row input.feed-form-row-get {
    width: 100%;
    font-size: 14px;
    font-weight:400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  
  #feed-contact .feed-form .feed-form-row .feed-form-col-get input,textarea{
    width: 100%;
    font-size: 14px;
    font-weight:400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
  }

  #feed-contact .feed-form div.feed-form-row button #exit-btn{
    width: auto;
  }
  
  #feed-contact .feed-form button{
    font-size: 0.9rem;
    padding: 13px 25px;
    background: rgb(21,21,100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    display: inline;
  }

  @media (max-width: 769px) {

    #feed-contact {
        padding: 8vw 4vw;
      }
    
    #feed-contact .feed-getin{
        width: 250px;
      }

  }

  @media (max-width: 475px) {

    #feed-contact {
        padding: 8vw 4vw;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
      }
    
    #feed-contact .feed-getin {
        width: 100%;
        margin-bottom: 30px;  
      }
    
    #feed-contact .feed-form{
        width: 10%;
        padding: 40px 30px;
      }
    
    #feed-contact .feed-form .feed-form-row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
      }
    
    #feed-contact .feed-form .feed-form-row input{
        width: 100%;
      }
  }